    /* Take out the mini-space on the top site */
    *{
        margin:0px;
        padding:0px;
    }
    
    body{
        background-color: white;
        widows: 100%;
        height:100;
        background-image:url(../images/circles-light.png);
    }
    #container {
        width:960px;
        height: 455px;
        background-color:#FFFFFF;
        border: thin;
        border-color: #dddddd;
        margin-left:175px;
        margin-right:175px;
        margin-top:60px;
        margin-bottom: 100px;
        padding:20px;
    }
    main{
        width:500px;
        height: 550px;
        background-color:#FFFFFF;
        border: thin;
        border-color: #dddddd;
        margin-left:350px;
        margin-top:50px;
        margin-bottom: 25px;
        padding:20px;
    }
    .h1P {
        position:relative; 
        float:left; 
        font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
        color:white;
        width:25px;
        height:70px;
        margin-left:175px;
    }
  
    h1 {
        background-color: #4AAAA5;
        position:relative;
        float:left;
        font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
        color:white;
        width:300;
        height:70px;
        margin-left:175px;
        margin-top:0px;

    }
    h2 {
        border-bottom: 2px solid #dddddd;
        padding-top:20px;
        padding-bottom:20px;
        color:#4AAAA5;
        font-size:20px;
        font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    }

    #header{
        height:70px;
        border-bottom: 2px solid #DDD;
        background-color: white;
    }

    #headerP{
        height:70px;
        border-bottom: 2px solid #DDD;
        background-color: white;
    }

    #menuBar{
        float:right;
        position:relative;
        margin-right:125px;
        margin-top:40px;
        font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
        color:#cccccc;
        
    }
    #menuBarP{
        float:right;
        margin-right:360px;
        margin-top:40px;
        font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
        color:#cccccc;       
    }
    .Contact{
        float: left; 
        padding-right:10px;
    }

    .Portfolio{
        float: left;
        
    }

    .About{
            float:left;
            margin-right:10px;          
        }
    img{
        height:138px;
        width:183px;
        position:relative;
        float:left;
        padding-right:10px;
        padding-top:20px;
    }
    img:hover{
        background-color:#EEEEEE;
    }

    a:link{
        text-decoration: none;
    }
    a:hover{
        background-color:#EEEEEE;
    }

    a {
        color:#cccccc;     
    }

    hr{
        background-color: #cccccc;
        padding-top:20px;
        padding-bottom:20px;
    }

    .aboutMeDesc{
        position:relative;
        margin-left:50px;
        color:#cccccc;
        font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
        padding-top:20px;
    }
    
    footer{
        border-top: 5px solid #4aaaa5;
        background-color: #666666;
        height:70px;
        padding-top:50px;      
    }

    span{
        font-size:15px;
        font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
        color:#cccccc;
        margin-bottom:20px;
        margin-left:600px;
        padding-top:50px; /*created space between border and copyright*/
    }
    
    .formContact {
        font-size:30px;
        color:#4aaaa5;
        border-bottom: 2px solid #dddddd;
        font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    }
    input[type=text], textarea{
        padding:10px;
        width:100%;
        border: 1px solid #cccccc;
        box-sizing: border-box;
        margin-top:6px;
        margin-bottom:6px;      
    }
    label {
        font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
        color:#cccccc;
    }
    
    textarea{
        height:150px;
    }

    input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    }

    #secondImage {
        position:relative;
        float:left;
        z-index:0;
        padding-right:10px;
        text-align: center;
    }
    #firstImage,#thirdImage,#fourthImage,#fifthImage { 
        float:left;    
        padding-right:10px;      
    }
    
    .label1,.label2,.label3,.label4,.label5{
        background-color: #4aaaa5;
        font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
        font-size:15px;
        color:white;
        position:absolute;
        height:30px;
        margin-top:120px;
        text-align: center;
        width:183px;  
        padding-top:5px;
    } 
    
    
    
